* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

AGENTS.md export-ignore
DOCUMENTATION-COMPLETE.md export-ignore

/docs export-ignore
/.ai export-ignore
/.github export-ignore
/.vscode export-ignore
